#burger-switch{
  display: none;
  @media (max-width: 480px) {
    visibility: visible;
    position: fixed;
    z-index: 2;
    color: #fff;
    right: 25px;
    top: 40px;
    font-size: 40px;
    background-color:#B3AFB3;
    padding: 10px;
    display: block;
    cursor: pointer;
  }
}
@keyframes fadeMenu {
  0%{

    opacity: 0;
  }
  50%{

  }
  100%{
    opacity: 1;
  }
}
.menu{
  position: fixed;
  z-index: 2;
  list-style-type: none;
  right: 85px;
  top: 119px;
  text-align: right;
  & li{
    padding: 13px 0px 13px 0px;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
  }
  &::before{
    content: "";
    display: block;
    width: 160px;
    height: 220px;
    background-color: black;
    opacity: 0.2;
    transform: translateX(-20px) translateY(-10px);
    position: absolute;
    z-index: -2;
    @media (max-width: 440px) {
      display: block;
    }
  }
  @media (max-width: 992px) {
    color: red;
    display: none;
    visibility: hidden;
    opacity: 0;
  }
  @media (max-width: 480px) {
    display: none;
    visibility: hidden;
    opacity: 0;
    right: 102px;
    top: -500px;
    animation: fadeMenu 1s ease-in-out forwards;
    transition: 1s ease-in-out;
  }
}
.menuOn{
  display: block;
  visibility: visible;
  animation: fadeMenu 1s ease-in-out forwards;
}