.menu{
  position: fixed;
  z-index: 2;
  list-style-type: none;
  right: 85px;
  top: 119px;
  text-align: right;
  & li{
    padding: 13px 0px 13px 0px;
    & a{
      font-family: 'Montserrat', sans-serif;
      font-size: 24px;
      color: #fff;
      text-decoration: none;
      cursor: pointer;
    }
  }
  &::before{
    content: "";
    display: block;
    width: 160px;
    height: 220px;
    background-color: black;
    opacity: 0.2;
    transform: translateX(-20px) translateY(-10px);
    position: absolute;
    z-index: -2;
  }
  @media (max-width: 992px) {
    color: red;
  }
  @media (max-width: 480px) {
    color: green;
  }
}