.about {
  display: block;
  width: 100%;
  height: 200vw;
  padding: 50px 60px;
  position: relative;
  &:after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background-image: url("aboutme1.jpg");
    opacity: 1;
    mix-blend-mode: normal;
  }
}
@keyframes rotate {
  0% {
    opacity: 0;
    display: block;
    position: absolute;
    transform: rotate(30deg) scale(0.6);
  }
  40% {
    opacity: 1;
    transform: rotate(160deg);
  }
  100% {
    opacity: 0;
    transform: rotate(160deg);
  }
}
.selfie {
  width: 27%;
  position: absolute;
  transform: translateY(50px);
}
.hud {
  mix-blend-mode: lighten;
  right: 66px;
  top: 1000px;
  position: absolute;
  z-index: 1;
  animation: rotate 7s ease-in-out infinite alternate;
}
