.App {
  height: 100%;
  overflow: hidden;
  @media (min-width: 1921px) {
    width: 1920px;
    margin: 0px auto;
    background-color: #2d2d2d;
  }
}
.main {
  width: 1920px;
  height: 5000px;
  overflow: auto;
}
.container {
  max-width: 1920px;
  position: relative;
  margin: 0px auto;
}
.cardAnim {
  transform: rotate3d(0, 1, 0, 180deg);
  & p {
    opacity: 1;
  }
}
.social-wrapper {
  position: absolute;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  top: calc(100% - 50vw);
  left: 70px;
  gap: 24px;
  z-index: 4;
  & .social-wrapper-item a {
    font-family: "Archivo Black", sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 3vw;
    color: #fff;
  }
  & .social-wrapper-item img {
    padding-right: 20px;
    border-radius: 25px;
  }
}
