.cardAnim{
    transform: rotate3d(0, 1, 0, 180deg);
  & p{
    opacity: 1;
  }
}
.social-wrapper{
  position: absolute;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  bottom: 410px;
  left: 70px;
  gap: 24px;
  z-index: 4;
  & .social-wrapper-item a{
  font-family: 'Archivo Black', sans-serif;
  text-transform:uppercase;
    text-decoration: none;
    font-size: 40px;
  color: #FFF;
  }
  & .social-wrapper-item img{
    padding-right: 20px;
    border-radius: 25px;
  }

}
